/*______  Buttons  ________*/

.btn {
  .fa,
  .fas,
  .far {
    margin-right: 5px;
  }
}

.btn-primary {
  background-color: $btn-primary;
  border-color: $btn-primary;
  color: #ffffff;
  transition: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($btn-primary, 10%);
    border-color: lighten($btn-primary, 10%);
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: lighten($btn-primary, 10%);
    border-color: lighten($btn-primary, 10%);
    box-shadow: none;

    &:focus,
    &.focus,
    &:active:focus,
    .active {
      box-shadow: 0 0 0 0.2rem lighten($btn-primary, 30%);
    }
  }

  &:focus,
  &.focus,
  &:active:focus,
  .active {
    box-shadow: 0 0 0 0.2rem lighten($btn-primary, 30%);
  }
}

.btn-success {
  background-color: $btn-success;
  border-color: $btn-success;
  color: #ffffff;
  transition: none;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($btn-success, 10%);
    border-color: lighten($btn-success, 10%);
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: lighten($btn-success, 10%);
    border-color: lighten($btn-success, 10%);
    box-shadow: none;

    &:focus,
    &.focus,
    &:active:focus,
    .active {
      box-shadow: 0 0 0 0.2rem lighten($btn-success, 30%);
    }
  }

  &:focus,
  &.focus,
  &:active:focus,
  .active {
    box-shadow: 0 0 0 0.2rem lighten($btn-success, 30%);
  }
}

.btn-secondary {
  background-color: $btn-secondary;
  border-color: $btn-secondary;
  color: #ffffff;
  transition: none;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($btn-secondary, 10%);
    border-color: lighten($btn-secondary, 10%);
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: lighten($btn-secondary, 10%);
    border-color: lighten($btn-secondary, 10%);
    box-shadow: none;

    &:focus,
    &.focus,
    &:active:focus,
    .active {
      box-shadow: 0 0 0 0.2rem lighten($btn-secondary, 30%);
    }
  }

  &:focus,
  &.focus,
  &:active:focus,
  .active {
    box-shadow: 0 0 0 0.2rem lighten($btn-secondary, 30%);
  }
}

.btn-warning {
  background-color: $btn-warning;
  border-color: $btn-warning;
  color: #ffffff;
  transition: none;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: lighten($btn-warning, 10%);
    border-color: lighten($btn-warning, 10%);
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: lighten($btn-warning, 10%);
    border-color: lighten($btn-warning, 10%);
    box-shadow: none;

    &:focus,
    &.focus,
    &:active:focus,
    .active {
      box-shadow: 0 0 0 0.2rem lighten($btn-warning, 30%);
    }
  }

  &:focus,
  &.focus,
  &:active:focus,
  .active {
    box-shadow: 0 0 0 0.2rem lighten($btn-warning, 30%);
  }
}

.btn:disabled,
.btn.disabled,
.btn[disabled] {
  background-color: $btn-disable;
  border-color: $btn-disable;
  cursor: not-allowed;
  color: #ffffff;
  opacity: 1;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    background-color: $btn-disable;
    border-color: $btn-disable;
    cursor: not-allowed;
    box-shadow: none;
  }

  &:not([disabled]):not(.disabled):active {
    background-color: $btn-disable;
    border-color: $btn-disable;
    cursor: not-allowed;
    box-shadow: none;
  }
}

.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4b506d;
  text-decoration-line: none;

  &.disabled {
    color: #111;
    pointer-events: none;
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    text-decoration-line: underline;
    color: #2f3272;
  }

  .btn-check:checked + .btn-outline-primary {
    background-color: $primary-active;
    border-color: $primary-active;
    color: $forground-color;
    outline: none;
    box-shadow: none;
  }
}

.checkbox-group {
  .btn-outline-primary {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: $primary-color;
    border: 1px solid $primary-border;
    background-color: $forground-color;
    text-decoration-line: none;
    border-radius: 20px;
    margin: 0 5px 5px;
    padding: 3px 10px;
  }
  .btn-check:active + .btn-outline-primary,
  .btn-check:checked + .btn-outline-primary,
  .btn-outline-primary.active,
  .btn-outline-primary.dropdown-toggle.show,
  .btn-outline-primary:active {
    background-color: $primary-active;
    border-color: $primary-active;
    color: $forground-color;
    outline: none;
    box-shadow: none;
  }

  .btn-check:active + .btn-outline-primary:focus,
  .btn-check:checked + .btn-outline-primary:focus,
  .btn-outline-primary.active:focus,
  .btn-outline-primary.dropdown-toggle.show:focus,
  .btn-outline-primary:active:focus,
  .btn-check:focus + .btn-outline-primary,
  .btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem lighten($primary-active, 25%);
  }
}

.navlink {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  text-align: right;
  letter-spacing: 0.2px;
  color: #4b506d;
  text-decoration-line: none;
  display: block;
  padding: 5px 10px;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;

  &.disabled {
    color: #111;
    pointer-events: none;
    cursor: default;
  }

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    text-decoration-line: underline;
    color: #2f3272;
  }
}

.link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $primary-color;
  text-decoration-line: none;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: $primary-color;
    text-decoration-line: underline;
  }
}

.lite-link {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.15px;
  color: lighten($text, 35%);
  text-decoration-line: none;

  &:hover,
  &:focus,
  &:active,
  &:active:focus {
    color: lighten($text, 35%);
    text-decoration-line: underline;
  }
}

.btn-link {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: $primary-color;
  border: 1px solid $primary-border;
  background-color: $forground-color;
  text-decoration-line: none;
  border-radius: 20px;
  margin: 0 5px 5px;
  padding: 3px 10px;

  &.active,
  &:hover {
    background-color: $primary-active;
    border-color: $primary-active;
    color: $forground-color;
    outline: none;
    box-shadow: none;
  }
}

.btn-rounded {
  border-radius: 20px;
}

.btn-height {
  line-height: 35px;
  height: 47px;
}

.btn-width {
  min-width: 150px;
}
