// background Colors
$primary-color: #2f3272 !default;
$primary-border: #2f3272 !default;
$primary-active: #878bb9;
$forground-color: #ffffff;
$body-bg: #e5e5e5;

// Heading & Text Color
$heading-color: #1f2d41;
$text: #27263d;
$sidebar-nave: #8e91b1;
$text-secondary: #5998cf;

// Button Colors
$btn-primary: #2f3272;
$btn-secondary: #5998cf;
$btn-disable: #f3f3f3;
$btn-success: #a6cd76;
$btn-warning: #eaa96e;

// Border
$border-primary: #2f3272;
$border-color: rgba(0, 0, 0, 0.12);
$panel-border: #dfe0eb;

// Height & Width
$sidebar-width: 255px;
$navebar-height: 100px;
$cellGutter: 30px;

// Rounded Border
$rounded: 8px;
