.form-group,
.form-check {
  margin-bottom: 15px;
}

.form-group {
  label {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    margin-bottom: 7px;
  }

  .form-control {
    border-radius: 3.5px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    height: 54px;

   
  }

  textarea{
    &.form-control{
      height: auto;
    }
  }
}

.form-check {
  .form-check-label {
    vertical-align: middle;
    cursor: pointer;
  }

  .form-check-input {
    border-color: $border-color;
    width: 20px;
    height: 20px;
    border-radius: 4px;

    &[type='checkbox'] {
      border-radius: 4px;
    }

    &:checked {
      background-color: $primary-color;
      border-color: $primary-color;
    }

    &:focus {
      outline: 0;
      border-color: lighten($primary-color, 25%);
      box-shadow: 0 0 0 3px lighten($primary-color, 50%);
    }
  }
}

.search-group {
  position: relative;

  .btn {
    border-color: #dfe0eb;
    color: $text;
    background-color: $forground-color;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }

  .form-control {
    border-color: #dfe0eb;

    &:first-child {
      border-right: 0;
    }

    &:last-child {
      border-left: 0;
    }
  }
}
